<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>
        <%= link_to 'Air Monitor', root_path %> 2016 ©
      </p>
    </div>
    <div class="col-sm-6">
      <p class="text-right">
      <% if user_signed_in? %>
        <%= link_to 'Profil', edit_user_registration_path %>
        <span>&middot;</span>
        <%= link_to 'Wyloguj się', sign_out_path %>

      <% else %>
        <%= link_to 'Logowanie', sign_in_path %>
        <span>&middot;</span>
        <%= link_to 'Rejestracja', sign_up_path %>
      <% end %>
        <span>&middot;</span>
        <a href="/documentation.html" title="Dokumentacja API">API</a>
      </p>
    </div>
  </div>
</div>
