<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'Air Monitor' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fill-background">
<nav>
</nav>
<div class="container push-down">
    <main role="main">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><%= yield(:title) %></h1>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
</div>
<footer class="sticky navbar faded ">
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>